<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <!-- nav start -->
    <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
            <a href="#" class="flex items-center">
                <img class="h-6 w-10 mr-3 sm:h-9" width="64" height="64" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/kawaii-rice.png" alt="kawaii-rice"/>
                
                <span class="self-center text-xl font-bold whitespace-nowrap text-indigo-700">Foody</span>
            </a>
            <div class="flex items-center lg:order-2">
                <input class="w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 placeholder:text-sm" type="search" placeholder="Search Location">
            </div>
            <div class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <a href="home-pembeli.html"
                            class="block py-2 pl-3 pr-4 text-white bg-indigo-700 rounded lg:bg-transparent lg:text-indigo-700 lg:p-0 dark:text-white"
                            aria-current="page">Menu</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0">Order</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav end -->

    <!-- hero start -->
    <div class="flex justify-center items-center dark:bg-slate-800">
        <div class="mx-auto mt-10 flex justify-center px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8">
            <div class="text-center ">
                <h1
                    class="text-4xl font-extrabold tracking-tight text-gray-900 dark:text-slate-200 sm:text-5xl md:text-6xl">
                    <span class="block xl:inline"><span class="mb-1 block">It's The Time</span>
                    <span class="bg-gradient-to-r from-indigo-400 to-pink-600 bg-clip-text text-transparent">
                        got your food
                    </span>
                    </span>
                    <div class="mt-2">2X faster
                        <span class="relative mt-3 whitespace-nowrap text-blue-600"><svg aria-hidden="true" viewBox="0 0 418 42"
                            class="absolute top-3/4 left-0 right-0 m-auto h-[0.58em] w-fit fill-pink-400/50"
                            preserveAspectRatio="none">
                            <path
                                d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z">
                            </path>
                        </svg>
                        <span class="relative">with foody.</span>
                        </span>
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <!-- hero end -->

    <!-- for you start -->
    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
        <div class="border-b mb-5 flex justify-between text-sm">
            <div class="text-indigo-600 flex items-center pb-2 pr-2 border-b-2 border-indigo-600 uppercase">
                <img class="h-6 w-6" width="48" height="48" src="https://img.icons8.com/fluency/48/rice-bowl.png" alt="rice-bowl"/>
                <a href="#" class="font-semibold inline-block">For You</a>
            </div>
            <a href="#" class="text-indigo-400 hover:text-indigo-600">See All</a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
    
            <!-- CARD 1 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Main Course
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">American Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>
    
            <!-- CARD 2 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Main Course
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">American Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>
            
            <!-- CARD 3 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/6086/food-salad-healthy-vegetables.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a><a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Appetizer
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Brazillian Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>
    
        </div>
    
    </div>
    <!-- for you end -->

    <!-- All start -->
    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
        <div class="border-b mb-5 flex justify-between text-sm">
            <div class="text-indigo-600 flex items-center pb-2 pr-2 border-b-2 border-indigo-600 uppercase">
                <img class="h-6 w-6" width="48" height="48" src="https://img.icons8.com/fluency/48/rice-bowl.png" alt="rice-bowl"/>
                <a href="#" class="font-semibold inline-block">All</a>
            </div>
            <a href="#" class="text-indigo-400 hover:text-indigo-600">See All</a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
    
            <!-- CARD 1 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="menu-pembeli.html">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.8
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Restoran Yaya</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Jakarta</span>
                    </span>
                </div>
            </div>
    
            <!-- CARD 2 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.6
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Cafe Ton</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Bandung</span>
                    </span>
                </div>
            </div>
            
            <!-- CARD 3 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/6086/food-salad-healthy-vegetables.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a><a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.7
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Warung Makan Rani</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Surabaya</span>
                    </span>
                </div>
            </div>

            <!-- CARD 1 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="menu-pembeli.html">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.8
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Restoran Yaya</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Jakarta</span>
                    </span>
                </div>
            </div>
    
            <!-- CARD 2 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.6
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Cafe Ton</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Bandung</span>
                    </span>
                </div>
            </div>
            
            <!-- CARD 3 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/6086/food-salad-healthy-vegetables.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a><a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.7
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Warung Makan Rani</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Surabaya</span>
                    </span>
                </div>
            </div>

            <!-- CARD 1 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="menu-pembeli.html">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.8
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Restoran Yaya</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Jakarta</span>
                    </span>
                </div>
            </div>
    
            <!-- CARD 2 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.6
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Cafe Ton</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Bandung</span>
                    </span>
                </div>
            </div>
            
            <!-- CARD 3 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/6086/food-salad-healthy-vegetables.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a><a href="#!">
                        <div
                            class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            4.7
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Warung Makan Rani</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Surabaya</span>
                    </span>
                </div>
            </div>

        </div>
    
    </div>
    <!-- menu end -->

</body>
</html>