<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <!-- nav start -->
    <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
            <a href="#" class="flex items-center ">
                <img class="h-6 w-10 mr-3 sm:h-9 " width="64" height="64" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/kawaii-rice.png" alt="kawaii-rice"/>               
                <span class="self-center text-xl font-bold whitespace-nowrap text-indigo-700">Foody</span>
            </a>
            <div class="flex items-center lg:order-2 cursor-pointer">
                <img width="30" height="30" src="https://img.icons8.com/material-sharp/24/user-male-circle.png" alt="user-male-circle"/>
            </div>
            <div class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <a href="menu-penjual.html"
                            class="block py-2 pl-3 pr-4 text-white bg-indigo-700 rounded lg:bg-transparent lg:text-indigo-700 lg:p-0 dark:text-white">Menu</a>
                    </li>
                    <li>
                        <a href="order-penjual.html"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0">Order</a>
                    </li>
                    <li>
                        <a href="history-penjualan.html"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-indigo-700 lg:p-0">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav end -->

    <!-- hero start -->
    <section class="sm:mt-6 lg:mt-8 mt-12 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div
            class="my-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28 flex gap-3 lg:flex-justify lg:flex flex-col lg:flex-row">
            <div class="sm:text-center lg:text-left">
                <h1 class="text-4xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-6xl">
                    <span class="block xl:inline">Restoran Yaya</span>
                </h1>
                <p
                    class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                    Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet
                    fugiat veniam occaecat fugiat aliqua.
                </p>
                <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                    <img class="h-6 w-6" width="50" height="50" src="https://img.icons8.com/material-rounded/50/marker.png" alt="marker"/>
                    <p class="text-lg ml-2">Jakarta</p>
            
                </div>
                <div class="mt-3 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                    <img class="h-6 w-6" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/star--v1.png" alt="star--v1"/>
                    <p class="text-lg ml-2">4.6</p>
                </div>
            </div>
            <!--   Image Section     -->
            <div class="lg:inset-y-0 lg:right-0 lg:w-1/2 my-4">
                <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"/>
            </div>
            <!--   End of Image Section     -->
        </div>   
    </section>
    <!-- hero end -->

    <!-- menu start -->
    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
        <div class="border-b mb-5 flex justify-between text-sm">
            <div class="text-indigo-600 flex items-center pb-2 pr-2 border-b-2 border-indigo-600 uppercase">
                <img class="h-6 w-6" width="48" height="48" src="https://img.icons8.com/fluency/48/rice-bowl.png" alt="rice-bowl"/>
                <a href="tambah-menu.html" class="font-semibold inline-block">Menu</a>
            </div>
            <a href="tambah-menu.html" class="px-5 py-3 bg-transparent border border-indigo-500 text-indigo-500 hover:bg-indigo-600 hover:text-white rounded-md transition duration-500 ease-in-out">Tambah Menu</a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
    
            <!-- CARD 1 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="summary-pembeli.html">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Main Course
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">American Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>
    
            <!-- CARD 2 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Main Course
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">American Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>
            
            <!-- CARD 3 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/6086/food-salad-healthy-vegetables.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a><a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Appetizer
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Brazillian Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>

            <!-- CARD 1 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="summary-pembeli.html">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Main Course
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">American Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>
    
            <!-- CARD 2 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a>
                    <a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Main Course
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">American Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>
            
            <!-- CARD 3 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col cursor-pointer">
                <a href="#"></a>
                <div class="relative"><a href="#">
                        <img class="w-full"
                            src="https://images.pexels.com/photos/6086/food-salad-healthy-vegetables.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                    </a><a href="#!">
                        <div
                            class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 rounded-md hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                            Appetizer
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="#"
                        class="font-medium text-lg hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Brazillian Salad</a>
                    <p class="text-gray-500 text-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <img class="h-5 w-5" width="50" height="50" src="https://img.icons8.com/fluency-systems-filled/50/marker.png" alt="marker"/>
                        <span class="ml-1">Restoran Yaya</span>
                    </span>
                </div>
            </div>
    
        </div>
    
    </div>
    <!-- menu end -->



</body>
</html>